<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WifiSyncServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="WifiSyncServer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <WifiSyncServer.Properties.Settings>
      <setting name="OneWaySync" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AllowPlayerControl" serializeAs="String">
        <value>True</value>
      </setting>
    </WifiSyncServer.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <WifiSyncServer.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value>9000</value>
      </setting>
    </WifiSyncServer.Properties.Settings>
  </applicationSettings>
</configuration>